@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}
nav {
  padding: 5px;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
nav > p {
  font-size: 36px;
  color: #e6533c;
  font-weight: bold;
  font-style: italic;
}
nav > div {
  border: 1px solid rgb(72, 71, 71);
  display: flex;
  gap: 47px;
  align-items: center;
  border-radius: 39px;
  padding: 2px 5px;
}

nav > span {
  margin-right: 5px;
  display: none;
}
.home-btn {
  background-color: #e6533c;
  padding: 5px 10px;
  border-radius: 46px;
}